---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Note** Some network types (for example, Amazon) update the network `name`
and some other attributes a few minutes after creation. This requires using a
`lifecycle` block as shown below. If this `lifecycle` block is missing, then
a subsequent `terraform apply` may attempt to delete the network.

If required, a `lifecycle` block may be added as follows:

```hcl
resource "hpe_morpheus_network" "a" {
  name = "network A"
  display_name = "network A"
  description = "First network"

  .
  .
  .

  lifecycle {
    ignore_changes = [ name, display_name, description ]
  }
}
```

## Example Usage

### AWS Network

{{ tffile "examples/resources/morpheus_network/example_aws.tf" }}

### Azure Network

{{ tffile "examples/resources/morpheus_network/example_azure.tf" }}

### GCP Network

{{ tffile "examples/resources/morpheus_network/example_gcp.tf" }}

### Host Network

{{ tffile "examples/resources/morpheus_network/example_host.tf" }}

### OVS Port Group Network

{{ tffile "examples/resources/morpheus_network/example_ovs_port_group.tf" }}

{{ .SchemaMarkdown | trimspace }}
